<div class="mat-elevation-z8">
<h1>Task Management Tool for Bruce Fox Co.</h1>
  <table mat-table id="datatable" [dataSource]="dataSource" #tasktable matSort>
      <ng-container matColumnDef="QuoteID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Number </th>
        <td mat-cell *matCellDef="let task"> {{task.QuoteID}} </td>
      </ng-container>

      <ng-container matColumnDef="QuoteType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Type </th>
        <td mat-cell *matCellDef="let task"> {{task.QuoteType}} </td>
      </ng-container>

      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let task"> {{task.Contact}} </td>
      </ng-container>

      <ng-container matColumnDef="Task">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task description </th>
        <td mat-cell *matCellDef="let task"> {{task.Task}} </td>
      </ng-container>

      <ng-container matColumnDef="DueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let task"> {{task.DueDate | date }} </td>
      </ng-container>

      <ng-container matColumnDef="TaskType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Type </th>
        <td mat-cell *matCellDef="let task"> {{task.TaskType}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let task"> 
          <!-- <button mat-icon-button (click)="viewTask()">
            <mat-icon>remove_red_eye</mat-icon>
          </button> -->
          <button mat-icon-button (click)="editTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(task.QuoteID)">
            <mat-icon>delete</mat-icon>
          </button>
           </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumn" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

