<div class="mat-elevation-z8">
<h1>Task Management Tool for Bruce Fox Co.</h1>
  <table mat-table id="datatable" [dataSource]="dts" matSort>
      <ng-container matColumnDef="QuoteID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Number </th>
        <td mat-cell *matCellDef="let task"> {{task.QuoteID}} </td>
      </ng-container>

      <ng-container matColumnDef="QuoteType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Type </th>
        <td mat-cell *matCellDef="let task"> {{task.QuoteType}} </td>
      </ng-container>

      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let task"> {{task.Contact}} </td>
      </ng-container>

      <ng-container matColumnDef="TaskDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task description </th>
        <td mat-cell *matCellDef="let task"> {{task.Task}} </td>
      </ng-container>

      <ng-container matColumnDef="DueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let task"> {{task.DueDate | date }} </td>
      </ng-container>

      <ng-container matColumnDef="TaskType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Type </th>
        <td mat-cell *matCellDef="let task"> {{task.TaskType}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dpc2" ></tr>
      <tr mat-row *matRowDef="let row; columns: dpc2;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!--<h4>Display tasks using ngFor</h4>-->
<!--<button class="btn btn-primary" (click) = "changeVisibility()"-->
<!--style="display:block; margin: 0 auto;">Display tasks</button>-->
<!--<div [hidden]="!isVisible" class="container">-->
<!--    <table class="table table-striped table-bordered">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Task Number</th>-->
<!--                <th>Task Type</th>-->
<!--                <th>Contact</th>-->
<!--                <th>Task Description</th>-->
<!--                <th>Due Date</th>-->
<!--                <th>Task Type</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr *ngFor="let task of tasksarray">-->
<!--                <td>{{task.QuoteID}} </td>-->
<!--                <td>{{task.QuoteType}}</td>-->
<!--                <td>{{task.Contact}}</td>-->
<!--                <td>{{task.Task}}</td>-->
<!--                <td>{{task.DueDate | date}}</td>-->
<!--                <td>{{task.TaskType}}</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
