<h1>Bruce Fox Task Management</h1>
<nav>
    <ul>
        <button routerLink="/all" routerLinkActive="active"
            style="display:block; margin: 0 auto;" type="button" 
            class="btn btn-outline-info">View all tasks</button>
        <button routerLink="/addtask" routerLinkActive="active"
            style="display:block; margin: 0 auto;"
            type="button" class="btn btn-dark">Add new task</button>
            <button routerLink="/delete" routerLinkActive="active"
            style="display:block; margin: 0 auto;"
            type="button" class="btn btn-outline-danger">Delete task with specified ID</button>
    </ul>
</nav>
<router-outlet></router-outlet>